#logo {
	/* max-height: 5%; */
	/* max-width: 80%; */
	/* height: auto; */
	/* text-align: center; */
	/* display: block; */
	/* margin: auto; */
	width: 100%;
	height: 100%;
	filter: blur(4px);
}

#logodiv {
	position: relative;
	max-height: 5%;
	max-width: 80%;
	margin: auto;
}

#overlay {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

body {
	font-family:'Lucida Console', monospace;
	font-size: 18px;
	color: #111;
	background-color: white;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 50px;
	box-sizing: border-box;
}
.landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height:100vh; min-height:100dvh;
	text-align: center;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #fea102; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	text-align: center;
	margin: auto;
}

#buttons > img {
	display: inline-block;
}

#buttons {
	margin: auto;
	width: max-content;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
svg { width: 100%; height: auto; }
.svg-container { width: 100%; max-width: 400px; display: inline-block; }
.separator { letter-spacing: -9px; }
hr { border: none; height: 2px; background-color: lightgrey; width: 100%; margin: 30px auto; }
table { border-collapse: collapse; text-align: center; width: 100%; }
li, details, summary, p {
	padding: 5px 20px;
}
td {
	padding: 5px 20px;
	border: 1px solid #dddddd;
}
.quiet, .links-container a { color: inherit; }
.links-container { font-size: 24px; margin: 20px; }
.links-container a { text-decoration: none; margin: 0 10px; }
.product-photo { display: block; max-width: 640px; width: 100%; margin: 0 auto; }
.faqtable dt { margin-bottom: 0.75em; font-style: italic; }
.faqtable dd { margin-left: 0; margin-bottom: 2em; }
